version: '3.7'
services:
  postgres:
    image: postgres:14.1-alpine
    container_name: postgres
    restart: always
    ports:
      - 5433:5432
    env_file:
      - .env

volumes:
  postgres:
    name: nest-db
